OAUTH2_PROXY_PROVIDER             = "azure"
OAUTH2_PROXY_CLIENT_ID            = "clientIdString"
OAUTH2_PROXY_CLIENT_SECRET        = "clientSecret"
OAUTH2_PROXY_OIDC_ISSUER_URL      = "https://sts.windows.net/tenetId/"
OAUTH2_PROXY_EMAIL_DOMAINS        = "*"
OAUTH2_PROXY_COOKIE_SECRET        = "cookieSecret"
OAUTH2_PROXY_REVERSE_PROXY        = "true"
OAUTH2_PROXY_CUSTOM_SIGN_IN_LOGO  = "SignInPictureURL"

OAUTH2_PROXY_FOOTER               = "Footer Text"
OAUTH2_PROXY_BANNER               = "Banner Text"

STREAMLIT_SERVER_ADDRESS          = "0.0.0.0"
STREAMLIT_SERVER_PORT             = "8501"
STREAMLIT_SERVER_COOKIESECRET     = "cookieSecret2"
STREAMLIT_BROWSER_SERVERADDRESS   = "https://domain.tld"
STREAMLIT_CLIENT_SHOWERRORDETAILS = "false"

# Where streamlit caches data
HOME                              = "/datadirectory"

# Mock data
MOCK_DATA_DIR                     = "mock_data/directory"
